@tailwind base;
@tailwind components;
@tailwind utilities;

@import "curve.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-shadow {
  box-shadow: 0px 0px 2px 2px rgb(222, 222, 222); /*any color you want*/
}

.side-transition {
  transition: all 0.6s;
}

.hr-line {
  height: 0;
  border-width: 0px;
  border-top-width: 2px;
  border-color: #d9d9d9;
}

.grow2 {
  /* flex: 20 1 auto; */
  flex-grow: 10;
}

.grow1 {
  /* flex: 2 1 auto; */
  flex-grow: 1;
}

.ql-container {
  min-height: 100px;
}
