.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: rgb(230, 230, 230);
  padding: 0 1rem 1rem 1rem;
  margin-top: 10px;
}
.toolbar-class {
  border: 1px solid #ccc;
}
